---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
/* system typefaces */
$serif: 'IBM Plex Serif', Georgia, Times, serif !default;
$sans-serif: 'IBM Plex Sans Condensed', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

$global-font-family: $serif !default;
$header-font-family: $serif !default;
$caption-font-family: $sans-serif !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


